.slide-bar{
		float: left;/*add*/
	width: 730px;
	height: 448px;
	overflow: hidden;
		margin-top: 6px;
		margin-left: 8px;
}
	.slide-picture {
		position: relative;
		list-style-type: none;
		padding-left: 0;
	}
		.slide-picture li{
			position: absolute;
			display: none;
		}
		.slide-picture li:first-child{
			display: block;
		}
	.slide-button {
		position: relative;
		top:425px;
		left: 280px;
		list-style: none;
	}
		.slide-button li{
			float: left;
			display: block;
			width: 16px;
			margin-left: 5px;
			background: #3e3e3e;
			color: white;
			text-align: center;
			border-radius: 10px;
			cursor: pointer;
		}
		.slide-button li:first-child{			
			background: #c81623;
		}